div label abbr {
  color: #f36b59;
}

div.string {
  margin: 14px;
}

div.string label {
  display: block;
  width: 150px;
  text-align: right;
  float: left;
  margin-right: 20px;
}

div.string input {
  width: 300px;
  padding: 5px;
  border: 1px solid #d2d9dc;
  -moz-box-shadow: 0px 0px 0px 5px #f7f9fa;
  -webkit-box-shadow: 0px 0px 0px 5px #f7f9fa;
  box-shadow: 0px 0px 0px 5px #f7f9fa;
  -khtml-box-shadow: 0px 0px 0px 5px #f7f9fa;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

div.string input:focus {
  border: 1px solid #b7d4ea;
  -moz-box-shadow: 0px 0px 0px 5px #f0f7fc;
  -webkit-box-shadow: 0px 0px 0px 5px #f0f7fc;
  box-shadow: 0px 0px 0px 5px #f0f7fc;
  -khtml-box-shadow: 0px 0px 0px 5px #f0f7fc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

span.error {
  clear: both;
  display: block;
  margin-left: 170px;
  padding-left: 20px;
  color: #f36b59;
}

.input span {
  margin-top: 5px;
}

.input.boolean.required.field_with_errors .error {
  margin-left: 0px;
}

div.text {
  margin: 20px;
}

div.text label {
  display: block;
  width: 150px;
  text-align: right;
  float: left;
  margin-right: 20px;
}

div.text textarea {
  width: 300px;
  height: 80px;
  padding: 5px;
  border: 1px solid #d2d9dc;
  -moz-box-shadow: 0px 0px 0px 5px #f7f9fa;
  -webkit-box-shadow: 0px 0px 0px 5px #f7f9fa;
  box-shadow: 0px 0px 0px 5px #f7f9fa;
  -khtml-box-shadow: 0px 0px 0px 5px #f7f9fa;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

div.text textarea:focus {
  border: 1px solid #b7d4ea;
  -moz-box-shadow: 0px 0px 3px 5px #f0f7fc;
  -webkit-box-shadow: 0px 0px 3px 5px #f0f7fc;
  box-shadow: 0px 0px 3px 5px #f0f7fc;
  -khtml-box-shadow: 0px 0px 3px 5px #f0f7fc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}


div.boolean {
  margin: 14px;
  padding-left: 150px;
}

div.boolean label {
  margin-left:10px;
}

div.boolean input {
  
}

.actions {
  text-align: right;
}

.actions input.button {
  position: relative;
  background-color: #f36b59;
  border: none;
  color: white;
  padding: 5px;
  -moz-box-shadow: 7px 7px 0px #dadada;
  -webkit-box-shadow: 7px 7px 0px #dadada;
  box-shadow: 7px 7px 0px #dadada;
  -khtml-box-shadow: 7px 7px 0px #dadada;
}

.actions input.button:focus {
  top: 7px;
  left: 7px;
  -moz-box-shadow: 0px 0px 0px #dadada;
  -webkit-box-shadow: 0px 0px 0px #dadada;
  box-shadow: 0px 0px 0px #dadada;
  -khtml-box-shadow: 0px 0px 0px #dadada;
}

#signs_left {
  color: gray;
  font-style: italic;
}

#signs_left p {
  display:inline;
}

#signs_left.formError {
  color: #f36b59;
}

.error {
  background-image: url("/images/error.png");
  background-position: left;
  background-color: transparent;
  background-repeat: no-repeat;
}

#search input {
  background: #4ea99f;
  width: 300px;
  padding: 5px 9px;
  border-top: 1px solid #7dcdc4;
  border-right: 1px solid #84d1c8;
  border-left: 1px solid #84d1c8;
  border-bottom: 1px solid #9cdad3;
  -moz-box-shadow: 0px 0px 5px 3px #439d91 inset;
  -webkit-box-shadow: 0px 0px 5px 3px #439d91 inset;
  box-shadow: 0px 0px 5px 3px #439d91 inset;
  -khtml-box-shadow: 0px 0px 5px 3px #439d91 inset;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  -khtml-border-radius: 13px;
  border-radius: 10px;
  width: 240px;
  color: white;
}

#search span.submit input {
  width: 100px;
  cursor: pointer;
}