header, section, footer, aside, nav, article {
  display: block;
}

body {
  background-color: #ececec;
  background-image: url("/images/bg.gif");
  color: #313B41;
  font: 14px/1.6em "Lucida Grande","Verdana",sans-serif;
  margin: 10px auto;
  padding: 0;
  width: 642px;
}

#logo, #teaser {
  width: 274px;
  display:inline-block;
  padding: 14px;
  margin-left: 14px;
}

#logo {

}

#teaser {
  color: white;
  background-color: #309ec1;
}

#teaser ul li,
#search ul li,
#main_content ul li {
  margin-left: 14px;
  list-style-type: disc;
  font-size: 2em;
}

#main_content ul li {
  color: #f36b59;
}

h1 {
  color: #f36b59;
  margin: 0 0 14px 0;
  padding: 0;
  font-size: 2.5em;
}

#search ul {
  width: 50%;
}

#main_content ul li h1,
#search ul li h1 {
  font-size: 1em;
  display: inline;
}

h2 {
  font-size: 2em;
}

h4 {
  margin: 0 0 14px 0;
}

p {
  margin-bottom: 15px;
}

a {
  color: #f36b59;
}

#teaser ul li h2 {
  font-size: 1em;
  color: white;
}

#main_content h1 {
  font-size: 2em;
}

#search h1 {
  font-size: 2em;
  color: #fff;
}

footer {
  background-color: #ffffff;
  color: #313B41;
}

section, footer {
  margin: 14px 7px 0px 7px;
  padding: 14px;
}

footer ul li {
  display:inline;
}

/* COLORS */

.black {
  background-color: #000;
  color: white;
}

.pearl {
  background-color: #f36b59;
  color: #fff;
}

.white {
  background-color: #fff;
}

.turquoise {
  background-color: #7dcdc4;
  color: #fff;
}

.shadow {
  -moz-box-shadow: 7px 7px 0px #dadada;
  -webkit-box-shadow: 7px 7px 0px #dadada;
  box-shadow: 7px 7px 0px #dadada;
  -khtml-box-shadow: 7px 7px 0px #dadada;
}