<h1>Polityka prywatności serwisu KarnyKutas.com</h1>

<p>Korzystając z serwisu akceptujesz zasady zawarte w Polityce Prywatności znajdujące się na niniejszej stronie.<br/>
Zastrzegamy sobie prawo do wprowadzania zmian w Polityce Prywatności. Każdą osobę korzystającą w jakikolwiek sposób z serwisów, obowiązuje aktualna Polityka Prywatności.</p>

<p>Zawsze masz prawo do usunięcia swoich danych osobowych z naszej bazy.</p>

<h2>Dane osobowe</h2>

<p>W czasie korzystania z serwisu KarnyKutas.com możesz zostać poproszony o podanie niektórych danych osobowych poprzez wypełnienie formularza. Dane, o które będziesz proszony, to informacje wymagane do wysłania wiadomości do wybranej osoby oraz wyświetlenia ich na stronie.</p>

<h2>Pliki cookies (ciasteczka)</h2>

<p>Pliki cookie to małe pliki tekstowe wykorzystywane do zapisywania pewnych informacji na Twoim komputerze. Cookies nie są szkodliwe ani dla Ciebie ani dla Twojego komputera i danych, i można je wyłączyć w przeglądarce.</p>
