<h1>Regulamin serwisu KarnyKutas.com</h1>

<h2>Wstęp</h2>

<p>Serwis umożliwia wysłanie "karnego kutasa" znajomemu, lubianej osobie. Nazwa serwisu, jego koncepcja, wygląd graficzny, oprogramowanie oraz baza danych podlegają ochronie prawnej.</p>

<h2>Zasady korzystania z Serwisu</h2>

<p>Aby móc korzystać z serwisu należy mieć ukończone 18 lat, lub posiadać zgodę na korzystanie z serwisu od rodziców/prawnych opiekunów. W serwisie można publikować jedynie materiały zgodne z obowiązującym prawem, w tym zgodnie z prawem autorskim.</p>
<p>Użytkownik oświadcza, że wszystkie treści, w tym zdjęcia i dane osobowe, umieszczane przez niego w Serwisie, są prawdziwe i nie naruszają jakichkolwiek praw autorskich i osobistych. Użytkownik oświadcza również, że uzyskał zgodę innych osób na umieszczenie przez niego treści, przedstawiających lub odnoszących się do tych Osób.</p>
<p>Zabronione jest umieszczanie materiałów chronionych przez Polskie i międzynarodowe prawo autorskie, oraz innych materiałów których dystrybucji zabrania prawo w tym: obraźliwych, naruszających dobre imię osób trzecich, oraz materiałów pornograficznych i erotycznych.</p>
<p>Akceptacja Regulaminu przez Użytkownika jest równoznaczna ze złożeniem oświadczeń następujących treści:</p>

<ol>
  <li>Dobrowolnie przystąpiłem do korzystania z usług Serwisu</li>
  <li>Zapoznałem się i akceptuję wszystkie postanowienia regulaminu</li>
  <li>Podane dane zawarte w formularzu są zgodne z prawdą. Wyrażam zgodę na przetwarzanie moich danych osobowych przekazanych w formularzu przez Administratora zgodnie z ustawą o świadczeniu usług drogą elektroniczną z dnia 18 lipca 2002 (Dz. U. z roku 2002, Nr 144, poz.1204).</li>
  <li>Zezwalam na wykorzystywanie mojego wizerunku umieszczonego w Serwisie dla celów świadczenia przez Administratora usług w Serwisie; wyrażam zgodę na otrzymywanie wiadomości od Administratora. Umieszczone na Koncie dane osobowe, wizerunku oraz informacje dotyczących innych osób nastąpiło w sposób legalny, dobrowolny oraz za ich zgodą.</li>
</ol>

<p>Administrator zastrzega sobie prawo do zablokowania Konta Użytkownika, którego działania uzna za szkodliwe dla Serwisu bądź innych Użytkowników lub który łamie którekolwiek z postanowień niniejszego Regulaminu.</p>
<p>Korzystanie z danych podanych przez użytkowników jest dozwolone tylko w celach w jakich zostały one podane. Wykorzystanie ich w jakikolwiek inny sposób jest zabronione.</p>
<p>Regulamin zaczyna obowiązywać z chwilą jego publikacji w serwisie KarnyKutas.com. Właściciel Serwisu zastrzega sobie prawo do zmiany regulaminu bez wcześniejszego poinformowania o tym użytkowników.</p>

<h2>Odpowiedzialność</h2>

<p>Właściciel serwisu nie ponosi jakiejkolwiek odpowiedzialności z tytułu świadczonych usług. Osoby zamieszczające materiały naruszające prawo lub prawem chronione dobra osób trzecich mogą ponieść z tego tytułu odpowiedzialność karną lub cywilną. Właściciel Serwisu nie ponosi odpowiedzialności za jakiekolwiek szkody spowodowane sposobem wykorzystania treści udostępnionych przez użytkowników.</p>
<p>Właściciel serwisu zastrzega sobie prawo do wyłączania dostępności Serwisu.</p>
<p>Wszystkie znaki towarowe zostały użyte tylko w celach informacyjnych i należą do ich właścicieli.</p>